registry=https://registry.npmjs.org/

# All @ShlomoNus packages come from GitHub Packages
@ShlomoNus:registry=https://npm.pkg.github.com

# Auth token for GitHub Packages
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
